body,html{
    margin:0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#myVideo{
    position:fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
}
.quote{
    position:fixed;
}